services:
  flask-app:
    build: ./SitoAlpeggio
    container_name: flask-app
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mysql

  stripe-cli:
    image: stripe/stripe-cli:latest
    container_name: stripe-cli
    environment:
      # Usa la chiave segreta dal .env
      - STRIPE_API_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_DEVICE_NAME=docker_alpeggio
    depends_on:
      - flask-app
    # Forward webhook al container flask-app sulla porta 5000
    command: listen --forward-to http://flask-app:5000/webhook --skip-verify --log-level debug
    restart: unless-stopped

  php-fpm:
    image: php:8.2-fpm
    volumes:
      - ./src:/var/www/html
    ports:
      - "9000:9000"

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8080:80"  

  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}

    volumes:
      - ./mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: ciao
    ports:
      - "8081:80"