<!DOCTYPE html>
<html lang="it" data-bs-theme="auto">

<head>
  <script src="../static/assets/js/color-modes.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Agritech - Registrati</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/" />

  <!-- CSS -->
  <link rel="stylesheet" href="../static/assets/dist/css/bootstrap.min.css"  />
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="../static/css/navbar.css" />
  <link rel="stylesheet" href="../static/css/footer.css" />
  <link rel="stylesheet" href="../static/css/media.css" />
  <link rel="stylesheet" href="../static/css/animazioni.css" />

</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar" role="navigation">
    <div class="navbar-top container">
      <a href="/" class="logo">Agritech</a>

      <!-- Bottone hamburger -->
      <button class="hamburger" id="hamburger" aria-label="Apri menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Menu principale -->
      <div class="navbar-menu container" id="navbarMenu">
        <ul class="nav-links">
          <li class="nav-link"><a href="/#home">Home</a></li>
          <li class="nav-link"><a href="/#services">Servizi</a></li>
          <li class="nav-link"><a href="/#about">Chi Siamo</a></li>
          <li class="nav-link"><a href="/#products">Prodotti</a></li>
        </ul>

      </div>
  </nav>

  <!-- FORM SIGNUP -->
  <div id="container" class="container">
    <main>
      <div class="py-3 text-center">
        <img class="d-block mx-auto mb-3"
          src="../static/image/Farm-Logo-Graphics-49002256-1-1-580x363-removebg-preview.png" alt="logo" width="72"
          height="57" />
        <h2 id="registrati-title">Sign Up</h2>
      </div>

      <div id="registrati-section" class="col-md-10 col-lg-8 mx-auto">
        <h4 class="mb-3">Dati personali</h4>
        <form class="form" action="/registrati" method="POST">
          <div class="row g-3">
            <div class="col-6">
              <label for="firstName" class="form-label">Nome</label>
              <input type="text" class="form-control" id="firstName" name="nome" required />
            </div>
            <div class="col-6">
              <label for="lastName" class="form-label">Cognome</label>
              <input type="text" class="form-control" id="lastName" name="cognome" required />
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="email" name="email" placeholder="you@example.com"
                  required />
              </div>
            </div>
            <div class="col-12">
              <label for="taxCode" class="form-label">Codice fiscale</label>
              <input type="text" class="form-control" id="taxCode" name="cod_fiscale" required />
            </div>
            <div class="col-12">
              <label for="telefono" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="telefono" name="telefono" inputmode="numeric" required
                oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            </div>
            <!-- Data di nascita -->
            <h4 class="mb-3">Data di nascita</h4>
            <div class="col-md-4">
              <label for="birthDay" class="form-label">Giorno</label>
              <select class="form-select" id="birthDay" name="birthDay" required>
                <option value="">Scegli...</option>
                <script>
                  for (let i = 1; i <= 31; i++) {
                    document.write(`<option>${i}</option>`);
                  }
                </script>
              </select>
            </div>
            <div class="col-md-4">
              <label for="birthMonth" class="form-label">Mese</label>
              <select class="form-select" id="birthMonth" name="birthMonth" required>
                <option value="">Scegli...</option>
                <script>
                  for (let i = 1; i <= 12; i++) {
                    document.write(`<option>${i}</option>`);
                  }
                </script>
              </select>
            </div>
            <div class="col-md-4">
              <label for="birthYear" class="form-label">Anno</label>
              <select class="form-select" id="birthYear" name="birthYear" required>
                <option value="">Scegli...</option>
                <script>
                  for (let i = 1920; i <= new Date().getFullYear(); i++) {
                    document.write(`<option>${i}</option>`);
                  }
                </script>
              </select>
            </div>
          </div>
          <hr class="my-4" />
          <div class="col-12">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required />
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required />
          </div>
          <hr class="my-4" />
          <button class="w-100 btn btn-primary btn-lg" type="submit">
            Continua e salva
          </button>
          <hr class="my-4" />
          <span class="span d-block text-center">Hai già un account? <a href="/login">Login</a></span>
        </form>
      </div>
    </main>
    <!-- FOOTER -->
    <footer id="contact">
      <div class="container">
        <p>&copy; 2024 Agritech. Innovazione per l'agricoltura del futuro.</p>
        <ul class="footer-links">
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Termini di Servizio</a></li>
          <li><a href="/supporto">Supporto</a></li>
          <li><a href="/contatti">Contatti</a></li>
        </ul>
      </div>
    </footer>
    {% if not cookie_consent %} {% include "cookie_banner.html" %} {% endif %}
  </div>

  <!-- Script -->
  <script src="../static/js/registrati.js" defer></script>
  <script src="../static/assets/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>