<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Agritech - Verifica codice</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar" role="navigation">
      <div class="navbar-top container">
        <a href="/" class="logo">Agritech</a>
      </div>
      <div class="navbar-menu container">
        <ul class="nav-links">
          <li class="nav-link"><a href="/">Home</a></li>
          <li class="nav-link"><a href="/#services">Servizi</a></li>
          <li class="nav-link"><a href="/#about">Chi Siamo</a></li>
          <li class="nav-link"><a href="/#products">Prodotti</a></li>
        </ul>
      </div>
    </nav>

    <div id="container" class="container">
      <main>
        <div class="py-3 text-center">
          <h2>Verifica codice</h2>
          <p class="lead">
            Controlla la tua email e inserisci qui il codice ricevuto.
          </p>
        </div>
        <div class="col-md-10 col-lg-8 mx-auto">
          <form class="form" action="/verify_code" method="POST">
            <label for="otp" class="form-label">Codice di verifica</label>
            <input
              id="otp"
              name="otp"
              type="text"
              required
              class="form-control mb-3"
            />

            <button type="submit" class="w-100 btn btn-primary btn-lg">
              Conferma
            </button>
          </form>
          {% if error %}
          <div class="alert alert-danger mt-3">{{ error }}</div>
          {% endif %}
        </div>
      </main>
    </div>

    <!-- FOOTER -->
    <footer id="contact">
      <div class="container">
        <p>&copy; 2024 Agritech. Innovazione per l'agricoltura del futuro.</p>
        <ul class="footer-links">
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Termini di Servizio</a></li>
          <li><a href="/supporto">Supporto</a></li>
          <li><a href="/contatti">Contatti</a></li>
        </ul>
      </div>
    </footer>
    {% if not cookie_consent %} {% include "cookie_banner.html" %} {% endif %}
  </body>
</html>
